@using GuildWars2.Web.Models.HomeVM

@model ForgotPasswordVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @using (Html.BeginForm("ForgotPassword", "Home", new { returnUrl = '/' }, FormMethod.Post, true, new { @class = "col s12" })) {
        @Html.AntiForgeryToken()
        <div class="row"></div>
        <div class="row">
            @if (!ViewData.ModelState.IsValid) {
                <div class="row">
                    <div class="col offset-s1 s10">
                        <div class="card-panel red less-padding">
                            <span class="white-text">
                                @Html.ValidationSummary()
                            </span>
                        </div>
                    </div>
                </div>
            }
            <div class="input-field col offset-s2 s8">
                <i class="material-icons prefix">mail</i>
                @Html.TextBoxFor(model => model.Email, new { @id = "email_input" })
                <label for="email_input">@Html.DisplayNameFor(model => model.Email)</label>
            </div>
            <div class="input-field col offset-s2 s8">
                <button class="btn waves-effect waves-light btn-large full-width" type="submit" name="action">
                    Reset Password
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    }
</div>