@model GuildWars2.Web.Classes.Notification

@if (Model != null) {
    <div id="main-notification" class="modal no-padding">
        <div class="modal-content @Model.Type.ToString().ToLower()">
            @if(!string.IsNullOrEmpty(Model.Title)) { 
                <h4 class="center-align">@Model.Title</h4>
            }
            <div class="row no-margin valign-wrapper">
                <div class="col hide-on-med-and-down l2">
                    <i class="large material-icons valign">
                    @switch (Model.Type) {
                        case GuildWars2.Web.Classes.NotificationType.Succes:
                            <i class="large material-icons valign">check_circle</i>
                        break;
                        case GuildWars2.Web.Classes.NotificationType.Warning:
                            <i class="large material-icons valign">warning</i>
                        break;
                        case GuildWars2.Web.Classes.NotificationType.Error:
                            <i class="large material-icons valign">error</i>
                        break;
                    }
                    </i>
                </div>
                <div class="col s10 offset-l1 l7 valign">
                    <h5>@Model.Message</h5>
                </div>
                <div class="col s2 no-padding">
                    @switch (Model.Type) {
                        case GuildWars2.Web.Classes.NotificationType.Succes:
                            <img class="responsive-img" src="https://wiki.guildwars2.com/images/a/a4/Party_time_quaggan_icon.png" />
                        break;
                        case GuildWars2.Web.Classes.NotificationType.Warning:
                            <img class="responsive-img" src="https://wiki.guildwars2.com/images/b/b9/Quaggan_sad_icon.png" />
                        break;
                        case GuildWars2.Web.Classes.NotificationType.Error:
                            <img class="responsive-img" src="https://wiki.guildwars2.com/images/3/3a/Warning_quaggan_icon.png" />
                        break;
                    }
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.modal').modal();
            $('#main-notification').modal('open');
        });
    </script>
}