.no-margin {
    margin: 0 !important;
}

.no-margin-bot {
    margin-bottom: 0 !important;
}

.less-margin-bottom {
    margin-bottom: 10px !important;
}



.no-pad-left {
    padding-left: 0 !important;
}

.less-padding {
    padding: 1rem !important;
}